{% extends "layout.html" %}

{% block content %}
<h1>Photography by iaGuoZhi</h1>

<div>
{% for photo in photos if not photo.get('hidden') %}
  <div class="photo">
      <a href="./photos/{{photo.path}}" target="_blank">
          <img src="./thumbnails/{{photo.path}}" alt="...">
    </a>
    <p class="photo-metadata"> {{photo.date.strftime("%b %d, %Y")}}</p>
    <p class="photo-description">{{photo.title}}</p>
    {% if photo.description %}
    <p class="photo-description">{{photo.description}}</p>
    {% endif %}
    {% if photo.license %}
    <p class="photo-license">&copy; {{photo.license}}</p>
    {% endif %}
  </div>
{% endfor %}
</div>

{% endblock %}
